html {
    background-color: aliceblue;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid grey;
    display: contents;
    align-items: center;
    text-align: center;
}

header {

}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.section {
    flex: 1;
    background: #ccc;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px;
}


.indhold-hojre {
    float: right;
    width: 50%;
    height: 400px;
    background: #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.indhold-venstre {
    float: right;
    width: 50%;
    height: 400px;
    background: #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.menu {
    margin-top: 40px;
    background-color: grey;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: palegreen;
    color: black;
}

.footer {
    background-color: aliceblue;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid grey;
    display: contents;
    align-items: center;
    text-align: center;
}

.social-media-link {
    text-decoration: none;
    margin-right: 20px;
}

.indhold-venstre {

}

.indhold-venstre-kontakt {
    float: left;
    width: 50%;
    height: 400px;
    background: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 0;
    text-decoration: none;
    color: black;
    flex-direction: column;
    align-content: center;
    display: flex;
    align-items: center;
}

.indhold-hojre-kontakt {
    float: right;
    width: 50%;
    height: 400px;
    background: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
}


.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    width: 40%;
    height: 80px;
    border: 3px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.opslag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.left-section {
    background: #ccc;
    margin: 20px;
    flex-basis: calc(50% - 40px);
}

.right-section {
    background: #ccc;
    margin: 20px;
    flex-basis: calc(50% - 40px);
}
.fakta-1 {
    width: 100%;
    height: 400px;
    background: #ccc;
    padding: 20px;
}