<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/css/CSS.css" th:href="@{css/CSS.css}">

    <link rel="icon" type="image/png" href="../static/images/Favicon-192x192.png">
</head>
<header>
    <nav class="header">
        <a href="index.html">
            <img src="../static/images/Mad-Mod-Madspild.jpg" height="159" width="318">
        </a>

        <div class="menu">
            <a href="index.html">Forside</a>
            <a href="facts.html">Fakta</a>
            <a href="newsfeed.html">Opslagsside</a>
            <a href="partners.html">Samarbejdspartnere</a>
            <a href="contact.html">Kontakt</a>

        </div>

    </nav>
</header>



<body id="kontakt" class="kontakt">
<h1>Kontakt</h1>

<div class="opslag-container">

<div class="left-section section">
    <table>
        <tr>
            <td><img src="../static/images/Micky.png" alt="Micky Mouse" width="120" height="120">
            <p>
                Micky Mouse
            </p></td>
            <td> Mickey Mouse, en af verdens mest elskede figurer, fungerer som direktør for organisationen "Stop Madspild". Med sin karismatiske og inspirerende ledelsesstil har Mickey forpligtet sig til at bekæmpe den globale udfordring med madspild. Under hans ledelse har organisationen iværksat innovative programmer og kampagner for at øge bevidstheden om vigtigheden af at reducere madspild og fremme bæredygtige spisevaner. Mickey's vision og engagement har inspireret mennesker over hele verden til at tage handling og gøre en positiv forskel i kampen mod madspild.
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/images/Donald_Duck.png" alt="Anders And" width="120" height="120">
                <p>
                    Anders And
                </p><td>Anders And, en af de mest respekterede figurer i underholdningsverdenen, har påtaget sig rollen som direktør for organisationen "Stop Madspild". Med sin dybe forståelse for samfundsansvar og bæredygtighed har Anders And været en visionær leder i kampen mod madspild. Under hans ledelse har organisationen gennemført en række initiativer og projekter for at skabe bevidsthed om konsekvenserne af madspild og fremme løsninger til at tackle denne udfordring. Anders And's dedikation og passion for at gøre en positiv forskel har inspireret en hel generation til at handle og arbejde mod en verden med mindre madspild.
            </td>
        </tr>

    </table>

</div>

<div class="right-section section">

        <p>
            <p>
                Kontakt os endelig, hvis i har nogle forslag, ris & ros, hvis i ønsker at booke et foredrag med en af os ellers besøg os på vores kontor, og fortæl os hvad end der falder jeres grønne hjerter ind
            </p>

            <a href="https://www.google.com/maps">
                <img src="../static/images/Maps.png" alt="Addresse" width="520" height="220">

            </a>

        <p>
            Kontakt info: MickyMouse@stopmadspild.dk <br> AndersAnd@stopmadspild.dk <br>
            Telefon nr: 12345678


        </p>
    </div>
</div>

</body>





<footer>
    <nav class="footer">
        <h1 id="logo2">Følg os på de sociale medier!</h1>
        <a class="social-media-link" href="https://www.facebook.com">
            <img src="../static/images/facebook.png" alt="Facebook logo" width="40" height="40">
        </a>
        <a class="social-media-link" href="https://www.instagram.com">
            <img src="../static/images/instagram.png" alt="Instagram logo" width="40" height="40">
        </a>
        <a class="social-media-link" href="https://www.facebook.com">
            <img src="../static/images/twitter.png" alt="Twitter logo" width="40" height="40">
        </a>
        <a class="social-media-link" href="https://www.youtube.com">
            <img src="../static/images/youtube.png" alt="Youtube logo" width="40" height="40">
        </a>
        <p>Danmark mod Madspild A/S - Nørrebrogade 112, 2200 København N - 20241444 - <a href="#">info@danmarkmodmadspild.dk</a></p>

        <br>

        <a href="#top">Gå til toppen af siden</a>
    </nav>

</footer>

</html>