<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/css/CSS.css" th:href="@{css/CSS.css}">

</head>
<header>
    <nav>
        <a href="index.html">
            <h1 id="logo">Danmark mod Madspild - Gør en forskel!</h1>
        </a>
        <br>
        test
    </nav>
</header>
<body id="forside" class="forside">
<h1>Danmark mod Madspild - Gør en forskel!</h1>
<h2>Danmark mod Madspild - Gør en forskel!</h2>

<div class="indhold">
    test
</div>

</body>
</html>