<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/css/CSS.css" th:href="@{css/CSS.css}">

</head>
<header>
    <nav class="header">
        <a href="index.html">
            <h1 id="logo1">Danmark mod Madspild - Gør en forskel!</h1>
        </a>

        <div class="menu">
            <a href="index.html">Forside</a>
            <a href="facts.html">Fakta</a>
            <a href="newsfeed.html">Opslagsside</a>
            <a href="partners.html">Samarbejdspartnere</a>
            <a href="contact.html">Kontakt</a>

        </div>

    </nav>
</header>
<body id="forside" class="forside">
<h1>Overskrift</h1>
<h2>Lidt info/statistik om madspild</h2>

<div class="indhold-venstre">

    VENSTRE

</div>
<div class="indhold-hojre">
    HØJRE
</div>

</body>
<footer>
        <nav class="footer">
                <h1 id="logo2">Følg os på de sociale medier!</h1>
    <a class="social-media-link" href="https://www.facebook.com">
        <img src="../static/images/facebook.png" alt="Facebook logo" width="40" height="40">
    </a>
    <a class="social-media-link" href="https://www.instagram.com">
        <img src="../static/images/instagram.png" alt="Instagram logo" width="40" height="40">
    </a>
    <a class="social-media-link" href="https://www.facebook.com">
        <img src="../static/images/twitter.png" alt="Twitter logo" width="40" height="40">
    </a>
    <a class="social-media-link" href="https://www.youtube.com">
        <img src="../static/images/youtube.png" alt="Youtube logo" width="40" height="40">
    </a>
            <br>
                <a href="index.html">Forside</a>
                <a href="facts.html">Fakta</a>
                <a href="newsfeed.html">Opslagsside</a>
                <a href="partners.html">Samarbejdspartnere</a>
                <a href="contact.html">Kontakt</a>
        </nav>

</footer>

</html>