<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/css/CSS.css" th:href="@{css/CSS.css}">
    <link rel="icon" type="image/png" href="../static/billeder/Favicon-192x192.png">

</head>
<header>
    <img src="../static/billeder/Mad-Mod-Madspild.jpg" height="220" width="1500">
    <nav class="header">
        <div class="menu">
            <a href="index.html">Forside</a>
            <a href="Facts.html">Fakta</a>
            <a href="newsfeed.html">Opslagsside</a>
            <a href="partners.html">Samarbejdspartnere</a>
            <a href="contact.html">Kontakt</a>
        </div>

    </nav>
</header>
<body id="forside" class="forside">
<h1>Overskrift</h1>
<h2>Lidt info/statistik om madspild</h2>

<div class="indhold-venstre">

    VENSTRE

</div>
<div class="indhold-hojre">
    HØJRE
</div>

</body>
</html>