<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/css/CSS.css" th:href="@{css/CSS.css}">

            <link rel="icon" type="image/png" href="../static/images/Favicon-192x192.png">
</head>
<header>
    <nav class="header">
        <a href="index.html">
            <img src="../static/images/Mad-Mod-Madspild.jpg" height="159" width="318">
        </a>

        <div class="menu">
            <a href="index.html">Forside</a>
            <a href="facts.html">Fakta</a>
            <a href="newsfeed.html">Opslagsside</a>
            <a href="partners.html">Samarbejdspartnere</a>
            <a href="contact.html">Kontakt</a>

        </div>

    </nav>
</header>
<body id="forside" class="forside">
<h1>Opslagsside</h1>
<h2>Git dit overskudsmad væk til et bedre formål!</h2>
<div class="input-container">
<textarea input type="text" class="input" id="text" name="text" placeholder="&#13;Her kan du skrive den tekst, du ønsker i dit opslag &#13;&#13; Bemærk: en admin skal godkende hvert nyt opslag" required>
</textarea>
</div>
<input type="submit" class="submit" value="Opret nyt opslag">

<br><br>




<div class="opslag-container">
    <div class="left-section section">
        <p>Vi har friske og lækre retter til overs i dag! Red mad fra spild - kom og hent det gratis!<br><br>Restaurant Fiskeskuddet<br>Aalborgvej 19, 9200 Aalborg <br>Tlf: 20551992 - info@fiskeskuddet.dk
        </p>

    </div>
    <div class="left-section section">
        <p>Nyhed! Vi deler overskudsmad og reducerer madspildet. Besøg os og tag del i kampen mod spild!<br><br>Overskudsmesteren<br>Århusgade 10, 8000 Aarhus<br>Tlf: 98765432 - kontakt@overskudsmesteren.dk
        </p>
    </div>
    <div class="left-section section">
        <p>Madspildsfri tirsdag! Hent vores overskudsmad og støt kampen mod spild.<br><br>SundSmag Kantine<br>Roskildevej 18, 4000 Roskilde<br>Tlf: 98761234 - kontakt@sundsmag.dk
        </p>
    </div>
    <div class="left-section section">
        <p>Overskudsmad Fest hver søndag! Kom og vær med til at reducere madspildet.<br><br>NaboKøkkenet<br>Amagerbrogade 25, 2300 København S<br>Tlf: 87654321 - info@nabokoekkenet.dk
        </p>
    </div>




    <div class="right-section section">
        <p>Specialtilbud: Gratis overskudsmad til alle studerende! Besøg os og få en lækker oplevelse.<br><br>StuderendeSpiseSted<br>Helsingørsgade 7, 2200 København N<br>Tlf: 56789012 - info@studerendespisested.dk
        </p>
    </div>
    <div class="right-section section">
        <p>Overskudsdiner tilgængelig nu! Kom og hent vores lækre mad og bekæmp madspild!<br><br>Madglæde Restaurant<br>Københavnsgade 25, 2300 København<br>Tlf: 12345678 - info@madglæde.dk
        </p>
    </div>
    <div class="right-section section">
        <p>Gratis overskudsmad til alle! Vi har lækre retter, du kan hente og nyde.<br><br>SpisGodt Bistro<br>Odensevej 15, 5000 Odense<br>Tlf: 87654321 - kontakt@spisgodt.dk
        </p>
    </div>
    <div class="right-section section">
        <p>Overskudsbuffet hver lørdag! Kom og smag vores fantastiske retter uden at bekymre dig om madspild!<br><br>GourmetPalæet<br>Frederiksberg Allé 42, 2000 Frederiksberg<br>Tlf: 65432109 - info@gourmetpalaet.dk
        </p>
    </div>
</div>

</body>
<footer>
        <nav class="footer">
                <h1 id="logo2">Følg os på de sociale medier!</h1>
    <a class="social-media-link" href="https://www.facebook.com">
        <img src="../static/images/facebook.png" alt="Facebook logo" width="40" height="40">
    </a>
    <a class="social-media-link" href="https://www.instagram.com">
        <img src="../static/images/instagram.png" alt="Instagram logo" width="40" height="40">
    </a>
    <a class="social-media-link" href="https://www.facebook.com">
        <img src="../static/images/twitter.png" alt="Twitter logo" width="40" height="40">
    </a>
    <a class="social-media-link" href="https://www.youtube.com">
        <img src="../static/images/youtube.png" alt="Youtube logo" width="40" height="40">
    </a>
            <p>Danmark mod Madspild A/S - Nørrebrogade 112, 2200 København N - 20241444 - <a href="#">info@danmarkmodmadspild.dk</a></p>

            <br>

            <a href="#top">Gå til toppen af siden</a>
        </nav>

</footer>

</html>