<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Samarbejdes partner</title>
    <link rel="stylesheet" href="../static/css/CSS.css" th:href="@{css/CSS.css}">
</head>
<body>
<header>
    <nav class="header">
        <a href="index.html">
            <img src="../static/images/Mad-Mod-Madspild.jpg" height="159" width="318">
        </a>

        <div class="menu">
            <a href="index.html">Forside</a>
            <a href="facts.html">Fakta</a>
            <a href="newsfeed.html">Opslagsside</a>
            <a href="partners.html">Samarbejdspartnere</a>
            <a href="contact.html">Kontakt</a>

        </div>

    </nav>
</header>


</body>
<footer>
    <nav class="footer">
        <h1 id="logo2">Følg os på de sociale medier!</h1>
        <a class="social-media-link" href="https://www.facebook.com">
            <img src="../static/images/facebook.png" alt="Facebook logo" width="40" height="40">
        </a>
        <a class="social-media-link" href="https://www.instagram.com">
            <img src="../static/images/instagram.png" alt="Instagram logo" width="40" height="40">
        </a>
        <a class="social-media-link" href="https://www.facebook.com">
            <img src="../static/images/twitter.png" alt="Twitter logo" width="40" height="40">
        </a>
        <a class="social-media-link" href="https://www.youtube.com">
            <img src="../static/images/youtube.png" alt="Youtube logo" width="40" height="40">
        </a>
        <p>Danmark mod Madspild A/S - Nørrebrogade 112, 2200 København N - 20241444 - <a href="#">info@danmarkmodmadspild.dk</a></p>

        <br>

        <a href="#top">Gå til toppen af siden</a>
    </nav>

</footer>
</html>